name: Release

on:
  push:
    tags:
      - "v*.*.*"
jobs:
  build:
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            toolchain: x86_64-unknown-linux-gnu 
            artifact: tau-radio_linux.zip
            dependencies: |
              sudo apt update
              sudo apt install \
                build-essential autoconf automake libtool pkg-config \
                libjack-dev libasound2-dev libpipewire-0.3-dev \
                libopus-dev libopusenc-dev libopusfile-dev opus-tools \
                libogg-dev libshout-dev


          - os: macos-latest
            toolchain: aarch64-apple-darwin
            artifact: tau-radio_macOS_intel.zip
            dependencies: |
              brew update
              brew install opus libogg opus-tools libshout


          - os: macos-15-intel
            toolchain: x86_64-apple-darwin 
            artifact: tau-radio_macOS_arm.zip
            dependencies: |
              brew update
              brew install opus libogg opus-tools libshout

    permissions:
      contents: write
      pull-requests: write
      repository-projects: write

    env:
      CMD: cargo build --release
      DEST: tau-radio

    steps:
      - uses: actions/checkout@v4
      - uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: install dependencies
        run: |
          ${{matrix.dependencies}}

      - name: install rust toolchains
        run: |
          rustup target install ${{matrix.toolchain}}

      - name: compile and zip
        run: | 
          $CMD --target=${{matrix.toolchain}}
          mv target/${{matrix.toolchain}}/release/tau-radio $DEST
          zip ${{matrix.artifact}} $DEST
          rm $DEST

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{matrix.artifact}}
          path: ${{matrix.artifact}}


  release:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Configure token
        run: |
          if [ -n "${{ secrets.PERSONAL_TOKEN }}" ]; then
            echo "RELEASE_TOKEN=${{ secrets.PERSONAL_TOKEN }}" >> $GITHUB_ENV
          else
            echo "RELEASE_TOKEN=${{ secrets.GITHUB_TOKEN }}" >> $GITHUB_ENV
          fi
      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          path: .
          merge-multiple: true    
      - name: Configure token
        run: |
          if [ -n "${{ secrets.PERSONAL_TOKEN }}" ]; then
            echo "RELEASE_TOKEN=${{ secrets.PERSONAL_TOKEN }}" >> $GITHUB_ENV
          else
            echo "RELEASE_TOKEN=${{ secrets.GITHUB_TOKEN }}" >> $GITHUB_ENV
          fi
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: tau-radio_*
          tag_name: ${{ github.ref_name }}
          body: "Automated release of ${{ github.ref_name }}."
        env:
          GITHUB_TOKEN: ${{ env.RELEASE_TOKEN }}
